{% extends "base.html" %}

{% block head %}
<title>Liste des utilisateurs</title>
{% endblock head %}

{% block body %}
<h1>Liste des utilisateurs</h1>
<form action="{% url 'liste_utilisateurs' %}" method="get">
<input type="text" name="q" value="{{ request.GET.q }}">
<input type="submit" value="Rechercher">
<a href="{% url 'liste_utilisateurs' %}">Tout afficher</a>
</form>
<ul>
{% for user in users %}
<li><p>{{ user.username }}</p><a href="{% url 'details_utilisateur' user.id %}">Details</a> <a href="{% url 'delete_user' user.id %}">Supprimer</a></li>
{% endfor %}
</ul>
{% endblock body %}