*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-image: linear-gradient(to bottom, #333, #444);
    color: #ffffff;
    }
    
    .header-title {
    font-size: 36px;
    margin: 0;
    text-shadow: 2px 2px 4px #000;
    }
  
  #home-main {
    padding: 50px;
  }
  
  .intro-section {
    text-align: center;
  }
  
  .section-title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .intro-img {
    width: 70%;
    height: 800px;
    margin-top: 30px;
    border-radius: 10px;
  }
  
  .benefits-section {
    margin-top: 50px;
  }
  
  .benefits-list {
    list-style: none;
    font-size: 20px;
    margin-top: 30px;
  }
  
  .benefits-list li {
    margin-bottom: 20px;
  }